<!DOCTYPE html>
<html>
<head>
  <title>Verify OTP</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .container {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      width: 300px;
    }
    label {
      display: block;
      margin-bottom: 8px;
    }
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    input[type="submit"] {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Verify OTP</h2>
    <form action="/verify-otp" method="post">

      <input type="hidden" name="otp" value="<%= otp %>">
      <input type="hidden" name="username" id="username" value="<%=username%>">
      <input type="hidden" name="email" id="email" value="<%=email%>">
      <input type="hidden" name="phone" id="phone" value="<%=phone%>">
      <input type="hidden" name="password" id="password" value="<%=password%>">
      
      <label for="enteredotp">Enter OTP:</label>
      <input type="text" name="enteredotp" id="enteredOTP" required>
      
      <input type="submit" value="Verify">
    </form>
  </div>
</body>
</html>
